<h3>Users</h3> <br>

<div  class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>region</th>
      <th></th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.region %></td>
        <td>
          <% if user.soul.present? %>
            <%= Micropost.find_by(id: user.soul).content[0,50] %>
            
              <% if Micropost.find_by(id: user.soul).content.length > 50 %>
                ...
              <% end %>
            
          <% else %>
            <%= user.profile %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<center><%= paginate(@users) %></center>
