<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

 <div  class="container">
    <table class="table">
    <tbody>
      <tr>
        <td class="col-md-1">email:</td>
        <td class="col-md-11"><%= @user.email %></td>
      </tr>
      <tr>
        <td class="col-md-1">region:</td>
        <td class="col-md-11"><%= @user.region %></td>
      </tr>
      <tr>
        <td class="col-md-1">profile:</td>
        <td class="col-md-11"><%= @user.profile %></td>
      </tr>
    </tbody>
  </table>
  </div>
  